.button{
    -fx-background-color : #FFFFFF;
    -fx-background-radius : 0 0 0 0;
}
.button:hover{
    -fx-background-color : #E1D9D1;
    -fx-background-radius : 0 0 0 0;
}
.button:pressed{
    -fx-background-color : #FFFFFF;
    -fx-background-radius : 0 0 0 0;
}