.button{
    -fx-background-color : #ffebcd;
    -fx-background-radius : 30 0 0 30;
}
.button:hover{
    -fx-background-color : #fff5cd;
    -fx-background-radius : 30 0 0 30;
}
.button:pressed{
    -fx-background-color : #ffebcd;
    -fx-background-radius : 30 0 0 30;
}